{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
    style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ end }}

    {{ define "main" }}
    <style>
        .responsive-image {
            max-width:50rem;
            width: 100%;
            height: auto;
            margin-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            display: block;
            box-sizing: border-box;
            position: relative;
        }
    </style>
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}

            <img src="{{ .Site.Params.Portrait.Path }}" alt="{{ .Site.Params.Portrait.Alt }}"
                class="responsive-image" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}
        </div>
    </main>
    {{ end }}